@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%; */
}

body {
    background-image: linear-gradient(to right,#bdd6d2,#a5c8ca);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(109, 136, 138, 0.712);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
   color: #1b57c563;
   text-align: center;
   text-shadow: 1px 1px 2px rgba(11, 46, 121, 0.479);
}

h2{
    color: #54a6aa;

}
p {
    text-align: justify;
}